<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055941285487-slrq5ndvj4pi89erojhk1v85f915offs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055941285487-slrq5ndvj4pi89erojhk1v85f915offs</string>
	<key>API_KEY</key>
	<string>AIzaSyDtPEXUcz15vai9fCDqS9HcUTXdo9W9RCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1055941285487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>online.realstore.app</string>
	<key>PROJECT_ID</key>
	<string>realstore-f542a</string>
	<key>STORAGE_BUCKET</key>
	<string>realstore-f542a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055941285487:ios:80e94fc8a33677850ddf9a</string>
</dict>
</plist>